* {
    margin: 0;
    padding: 0;
}

body {
     font-family: 'Nunito Sans', sans-serif;
}

dialog::backdrop {
    background-color: #c2e3c4;
}

dialog {
    margin: auto;
    border: none;   
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 80%;
}

p, h1 {
    text-align: justify;
    padding: 10px;   
}

button {
    border-radius: 4px;
    margin: 20px;
    background-color: rgb(33, 31, 31);
    color: #fff;
    cursor: pointer;
    padding: 10px;
}